
.emoji {
  display: inline-block;
  animation: wave 1s infinite;
  
}

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 ;
}
.nav-title a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
}
.nav-title h2 {
  position: relative;
  top:0.5rem;
  left: 0%;
  color: #fff;
  font-size: 1.5rem;
}



.links {
  font-size: 18px;
}
.links a {
  color: #fff;
  text-decoration: none;
  padding: 13px 10px 13px 10px;
}

.links a:hover {
  font-size: 1.5rem;
  transition: all 0.5s;
}


.hamburgerMenu label div {
  border-top: 2px solid #fff;
  display: block;
  height: 10px;
  width: 25px;
}

.hamburgerMenu{
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width:600px) {
  
  .navbar {
      justify-content: space-between;
  }

  .hamburgerMenu{
      display: block;
      margin-right: 20px;
  }

  .hamburgerMenu label {
      display: inline-block;
      cursor: pointer;
      padding: 13px;
      height: 50px;
      width: 50px;
  }
  
  .links {
      
      transition: all 0.3s;
      overflow-y: hidden;
      position: absolute;
      display: block; /*displayed in block wise space in between*/
      width: 100%;
      height: 0px;
      top: 50px;
      left: 0px;
  }
  .links a {
      display: block;
      width: 100%;
  }
  #hamburger:not(:checked)~.links {
      height: 0px;
  }
  #hamburger:checked~.links {
      height: calc(100vh - 50px);
  }
  
}

@keyframes wave {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(20deg) }
  50% { transform: rotate(0deg) }
  75% { transform: rotate(-20deg) }
  100% { transform: rotate(0deg) }
}


a{
  text-decoration: none;
}


.intro{
    padding: 1rem;
    margin: 0px;
}

  .container1{
    color:white;
    margin-left:160px;
    padding-top:130px ;
    padding-bottom: 40px;
    font-family: Sofia,sans-serif;
    @media screen and (max-width:600px) {
      font-size:small;
      padding-top:200px;
      margin:0px 50px 0px 80px;
    }
  }
  .container1 .intro{
    padding-bottom: 40px;
  }
  .intro h1{
    font-size: 35px;
    color:white; 
    font-family: serif;
  }
  
  .container1 .res{
    
    background-color: whitesmoke;
    padding: 10px;
    margin:10px;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(174, 173, 167);
    border-radius: 25px;
  }
  .container1 .res:hover{
    background-color: rgb(192, 87, 11);
    color: white;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s;
  }
  .foot{
    position: relative;
    margin-top: 10rem;
    background-color: rgb(19, 18, 18);
    padding: 6rem 30rem;
    width: 100%;
    display: flex;
    @media (max-width:600px) {
      padding:2rem;
      justify-content: center;
    }
  }
  .foot .symbols a{
    padding: 30px;
    @media (max-width:600px) {
      padding-right:5px;
      justify-content: center;
    }
  }
  .symbols a:hover{
    padding: 10px;
    transition: all 0.5s;
  }
  .project{
      background-image:url("../img/proimg.jpg");
      background-size:cover;
      background-attachment: fixed;
      background-position: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      @media screen and (max-width:600px){
        background-image: url("../img/mobilebg.jpeg");
      }
  }
  .project p,h2{
    padding-bottom: 20px;
  }
  
  .project-content{
    display: flex; /*to get the projects side by side even we writen in div tags.*/
    flex-wrap: wrap; /*wrap on multiple lines if there is no suffecient space in the flex container*/
    color:rgb(232, 220, 220);
    font-size: 18px;
    
  }
  .project1{
    margin-top: 6rem;
    width: 30vw; /*view port widht 20vw means 20 percent of viewport width*/
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    margin-left: 15vw;
    margin-bottom: 40px;
    border: 1px solid rgb(101, 91, 91);
    border-radius: 50px;
    background-color: rgb(41, 41, 44);
    @media screen and (max-width:600px) {
      width:fit-content;
      margin-right:45px;
      font-size:small;
    }
  }
  
  
  .project1:hover{
    border: 3px solid white;
    background-image: linear-gradient(rgb(117, 109, 109),black,rgb(117, 109, 109));
    transition:all 0.5s;
    color: antiquewhite;
    
  }
  .project-content a{
    text-decoration: none;
    color: rgb(14, 242, 242);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 6em;
    padding: 20px;
    width:fit-content;
    background-color: rgb(50, 45, 45);
    font-size: 18px;
  }
  .project-content a:hover{
    transition: all 0.5s;
    border: 3px solid white;
  }
  .container2{
    border: 1px solid white;
    margin-top:250px;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    font-family: Sofia,sans-serif;
    @media screen and (max-width:600px){
      font-size:small;

    }
  }
  .image-container {
    display: flex;
    align-items: center;
  
  }
  
  .image-wrapper {
    width: 150px;
    margin-right: 5px; /* Adjust the spacing between image and name as needed */
  }
  
  .image-name {
    flex-grow: 1;
  }
  .image-wrapper #py{
    margin-left: 3rem;
  }
  .image-container #co{
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .image-container #re,#js{
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .image-container #sq,#ht{
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .cont{
    
    padding: 6rem;
    margin: 0%;
    

    text-align: center;
    @media screen and (max-width:600px) {
      background-image:none;
      text-align:center;
    }
    
  }
  .contback{
    background-image:url("../img/mobilebg.jpeg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
  }
  .container h3{
    margin-top:5rem; /*for drop a comment*/
    
  }
  .contact-form{
    padding: 3rem;
    /*to center the form part like name email message feilds*/
    display: flex;
    justify-content: center;
    
  
  }
  .contain{
    background-image: linear-gradient(rgb(117, 109, 109),black,rgb(117, 109, 109));
    border: 3px solid whitesmoke;
    margin: 10rem;
    border-radius: 20px;
    @media screen and (max-width:600px){
      font-size:small;
      width:287px;
      justify-content:center;
      border:2px solid whitesmoke;
      margin-left:0rem;
      
    }
  }
  td input{
    margin: 1rem;
    border-radius: 8px;
  }
  input[type="submit"]{
    border: 1px solid white;
    width: 4rem;
    background-color: forestgreen;
    color:white;
    height: 3rem;
  }

  input[type="submit"] :hover{
    cursor: pointer;
  }

  
  .ab{
    background-image: url("../img/proimg.jpg");
    border: 1px solid white;
    width:450px;
    padding: 1rem;
    margin:0.5rem;
    border-radius: 2rem;
    line-height: 2;
    font-size: larger;
    
  }

  @media screen and (max-width:600px){
    .ab{
      background-image: url("../img/proimg.jpg");
      margin-left: 0rem;
      width: fit-content;
    }
  }
  .abhead{
    margin: 2rem;
    font-size: x-large;
    color:aqua

  }
  
