@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');/*font tye */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}
body{
  background-image:url("../src/img/background_img.jpeg");
  background-size: cover;   /*to cover the entire background area*/
  background-attachment: fixed;
  background-position: center;
  color:white;
  
}

.myphoto{
  margin-left: 900px;
  width: 400px;
}
.btn {
  background-color:rgb(204, 25, 25);
  border: none;
  color: white;
  width: 80px;
  height: 20px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}